*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

body{
    font-family: Arial, Helvetica, sans-serif;
     background-color: black; 
}
.container{
    /* background-color: white;  */
    display: flex;
    margin: 20px;
}

.head img{
    position: absolute;
    top: 8px;
    left: 55200px;
    font-size: 18px;
    position: relative;
    width: 18%;
    z-index: 1;
    margin-right: -20px;
    margin-top: -10px;
    margin-bottom: -10px;
}
.home-image{
    background-image: url(assests/main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;
    height: 90vh;
    border-radius: 20px;
    position: relative;
    filter: brightness();
}
.home-image-text{
    color: aliceblue;
    position: relative;
    width: 30%;
    top: 13em;
    left: 3em;
    z-index: 1;
}
.money{
    width: 100%;
    height: auto;
}
.play-button{
    /* background-color: red; */
    color: black;
    border-radius: 25px;
    width: 100px;
    padding: 5px 20px 0px;
    font-size: 30px;
}
.play-button img{
    margin-top: 0px;
    padding-left: 5px;
    width: 0px;
    position: absolute;
}
/* netflix original and top rated */
.original{
    color: aliceblue;
    padding-left: 0px;

}
.original h3{
    margin-top: 10px;
}
.original .no-title{
    font-size: 20px;
    padding-left: 10px;
    color: #fff;
    line-height: 1px;
    font-weight: 5px;
    margin-bottom: 19px;

}
.original .no{
    display: flex;
    height: 50vh;
    padding-top: 2px;
    margin-left: 0px;
    margin-bottom: -50px;
    overflow-y: hidden;   
}

.original .no img{
    width: 260px;
    height: 380px;
    margin:3px;
    margin-left: 8px;
    border-radius: 10px;

}
.original .no img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    transition-delay: 0.1s;
    filter: brightness(70%);
}
html{
    overflow:scroll;
    overflow-x:hidden;
}
::-webkit-scrollbar{
    width: 2px;
    background: transparent;
}
/* comedy and romatic movies */
.original1{
    color: aliceblue;
    padding-left: 0px;

}
.original1 h3{
    margin-top: 10px;
}
.original1 .no-title{
    font-size: 20px;
    padding-left: 10px;
    color: #fff;
    line-height: 1px;
    font-weight: 5px;
    margin-bottom: 19px;

}
.original1 .no{
    display: flex;
    height: 40vh;
    padding-top: 2px;
    margin-left: 0px;
    margin-bottom: -50px;
    overflow-y: hidden;   
}

.original1 .no img{
    width: 160px;
    height: 280px;
    margin:3px;
    margin-left: 8px;
    border-radius: 10px;

}
.original1 .no img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    transition-delay: 0.1s;
    filter: brightness(70%);
}
/* 
.banner-container {
  background-image: url('assests/my_bar.jpg');
  background-size: fit;
  background-position: center;
  height: 80px; /* Adjust the height according to your needs */
  /* position: relative; */
/* 
}@media (max-width: 768px) {
  .banner-container {
    height: -20px; /* Adjust the height for smaller screens */
  /* }
}
@media (max-width: 480px) {
  .banner-container {
    height: 150px; /* Adjust the height for mobile screens */
  /* }
}  */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #111;
    color: #fff;
}

footer a {
    margin: 0 10px;
    color: #E50914;
    text-decoration: none;
}

.topnav {
    background-color: #9e62a3;
    overflow: hidden;
    position: absolute;
    border-radius: 15px;
    background: #ad2196;
    padding: 0px;
    width: 280px;
    height: 45px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #cb3e9c;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
